.prices__table {
  display: none;
  @media screen and (min-width: 700px) {
    display: block;
  }
}

.item__button,
.button-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 40px 9px 13px;

  color: $white;
  background-color: $hot-pink;
  border-radius: 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;

  background-image: url('../img/prices-icon.svg');
  background-repeat: no-repeat;
  background-position: bottom 11px right 16px;

  text-transform: uppercase;
  svg {
    position: absolute;
    right: 16px;
  }
  span {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &:hover {
    background-color: #b64366;
  }
  &:focus {
    background-color: #8c2242;
  }
}

.item__content {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;

  padding: 23px 0;
  border-bottom: 1px solid $silver;
  border-collapse: collapse;
}

.item__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: $charcoal-black;
}

.first-column {
  width: 400px;
}
.second-column,
.third-column {
  width: 150px;
}

.fourth-column {
  width: 119px;
}

.prices__table-content {
  padding: 0 24px;
  background-color: $white;
  border-radius: 6px;
}

.prices__table-list {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 24px;
}

.prices__offer--desc {
  max-width: 421px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;

  margin-top: 16px;
  color: $charcoal-black;

  @media screen and (min-width: 700px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1057px) {
    margin-top: 32px;
  }
}

.prices__offer--btn {
  width: 192px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 16px;
  letter-spacing: -0.2px;
  text-align: left;
  color: $charcoal-black;

  &:hover svg {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  @media screen and (min-width: 500px) {
    width: 310px;
  }
}

.prices__item-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $dark-grey;
}

.prices-swiper {
  padding-bottom: 30px;
}

ul.swiper-wrapper.swiper__list-prices {
  height: 235px;
}

.product-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
  position: relative;
  min-height: 200px;

  padding: 16px;
}

.swiper-slide__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: $dark-grey;
}

.swiper-slide__desc {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: $charcoal-black;
}
.swiper-btn {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
