.drop-down__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}

.drop-down__burger-menu_close {
  background-image: url('../img/icon-close.svg');

  @media screen and (min-width: 1250px) {
    display: none;
  }
}

.drop-down__logo {
  margin-left: -40px;
  @media screen and (min-width: 1250px) {
    margin-left: 0px;
  }
}

.drop-down__search {
  background-image: url('../img/icon-search.svg');
}

.drop-down__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  margin-bottom: 32px;
  @media screen and (min-width: 1057px) {
    row-gap: 32px;
  }
}

.drop-down__item {
  position: relative;
  .item__link {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $charcoal-black;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;

    &:hover {
      color: $dark-grey;
    }
  }
  .item__link--active {
    color: $dark-grey;
    &::before {
      content: '';
      height: 30px;
      border-left: 4px solid #41f6d7;
      border-radius: 0 8px 8px 0;
      position: absolute;
      left: -24px;
      top: -4px;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }

  &::before {
    content: '';
    height: 30px;
    border-left: 4px solid #41f6d7;
    border-radius: 0 8px 8px 0;
    position: absolute;
    left: -24px;
    top: -4px;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    opacity: 1;
  }

}