.drop-down__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;

  li {
    &:not(:last-child) {
      margin-right: 7px;
    }

    a:hover {
      color: $dark-grey;
    }
  }
}
