.drop-down__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  column-gap: 8px;
  margin-top: 40px;
}

.drop-down__link:hover {
  color: $dark-grey;
}

.drop-down__link--active {
  color: $dark-grey;
}
