.type-technique__item {
  @media screen and (min-width: 700px) {
    display: none;

    &:nth-last-child(n + 3),
    &.item--avtive {
      display: flex;
    }
  }
}

.type-technique__list {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 24px;
  @media screen and (min-width: 700px) {
    &:nth-last-child(n) {
      display: grid;
    }
  }
  @media screen and (min-width: 1057px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.type-technique__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  padding: 16px;
  background-color: #ffffff;

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &:hover{
    background-color: #ff3e79;
    color: #ffffff;
    transition: background-color 0.8s;
  }
  &:hover .type-technique__btn{
    background-color: #fff;
    border-color: #9b9798;
    transition: background-color 0.5s, border-color 0.5s;
  }
}

.type-technique__btn {
  margin: auto;
  margin-bottom: 0;
  margin-right: 0;
}

.swiper__technique--type {
  height: 180px;
  padding-bottom: 14px;
}
