.brand__list-technique {
  display: none;
  @media screen and (min-width: 700px) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1120px) {
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
  }
}

.brand__item {
  @media screen and (min-width: 700px) {
    display: none;
    position: relative;
    min-height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    border-radius: 6px;
    background: $white;
    &:nth-last-child(n + 9),
    &.item--avtive {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  @media screen and (min-width: 700px) {
    display: none;
  }
  @media screen and (min-width: 1120px) {
    &:nth-last-child(n + 7) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

.brand__all,
.type-technique__btn--text,
.content__button--text {
  color: #1b1c21;
  font-weight: 500;
  font-size: 16px;
}

.brand__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid $silver;
  @media screen and (min-width: 700px) {
    width: 100%;
    height: 100%;
    padding: 16px 10px;
  }
  @media screen and (min-width: 730px) {
    padding: 16px;
  }
  &:hover .details {
    background-color: $hot-pink;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  &:hover .details svg path {
    fill: $white;
    -webkit-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;
  }
  &:hover {
    border-color: #d45a5a;
    -webkit-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
  }
  &:focus .details {
    background-color: #931a3e;
    -webkit-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: background-color 0.5s;
  }
}

.brand-logo {
  @media screen and (min-width: 700px) {
    max-width: 128px;
    max-height: 32px;
  }
}

.swiper.brand__container--swiper {
  padding-left: 16px;
  @media screen and (min-width: 700px) {
    display: none;
  }
}