.swiper {
  min-height: 110px;
  @media screen and (min-width: 700px) {
    display: none;
  }
}

ul.swiper-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

ul.swiper__technique--type.swiper-wrapper {
  height: 200px;
}

.swiper-slide__link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  min-width: 224px;
  min-height: 72px;
  max-height: 72px;
  border-radius: 6px;
  border: 1px solid $silver;
  background: $white;
  padding: 10px;

  .swiper-slide__btn--details {
    display: flex;
    align-self: center;
  }
}

div {
  &.swiper-button-next:after,
  &.swiper-button-prev:after {
    content: none;
  }

  &.swiper-horizontal > .swiper-scrollbar,
  &.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 0;
  }
}
