* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
  background-color: $snow-white;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 900px) {
    padding: 0 24px;
  }
  @media screen and (min-width: 1057px) {
    max-width: 1120px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $charcoal-black;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $hot-pink;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;

  &:hover {
    background-color: #f20d52;
  }
  &:focus {
    background-color: #e44d78;
  }
  &:after {
    background-color: #621028;
  }
}

.main {
  @media screen and (min-width: 1250px) {
    padding-left: 320px;
  }
}

input,
textarea,
span,
a,
button {
  font-family: inherit;
}

.type-technique__content {
  position: relative;
}

.brand__content {
  position: relative;
}

.type-technique__content::before,
.main__navigation::before,
.brand__content::before {
  content: '';
  height: 100%;
  width: 24px;
  position: absolute;
  right: 0;
  z-index: 1000;
  background: linear-gradient(
    270deg,
    #F8F8F8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );
  @media screen and (min-width: 700px) {
    display: none;
  }
}
