@font-face {
  font-weight: 400;
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'), url('../fonts/TTLakes-Regular.woff');
}

@font-face {
  font-weight: 700;
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'), url('../fonts/TTLakes-Bold.woff');
}

@font-face {
  font-weight: 500;
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'), url('../fonts/TTLakes-Medium.woff');
}
