.mobil__left-part-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  column-gap: 16px;
}

.mobil__burger-menu {
  position: relative;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
  @media screen and (min-width: 700px) {
    &::after {
      content: '';
      width: 2px;
      height: 40px;
      background: $silver;
    }
  }
}
