.mobil__left-part-menu {
  display: flex;
  align-items: center;
}

.mobil__left-part-menu {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: 32px;
    background: #eaeaea;
  }

  @media screen and (min-width: 700px) {
    &:after {
      content: '';
      position: absolute;
      left: 61px;
      width: 2px;
      height: 32px;
      background: #eaeaea;
    }
  }
}

.mobil__burger-menu,
.mobil__logo {
  margin-right: 17px;
}

.mobil__burger-menu {
  @media screen and (min-width: 700px) {
    margin-right: 42px;
  }
}

.mobil__logo {
  @media screen and (min-width: 700px) {
    margin-right: 0px;
    margin: 0;
  }
}
