.mobil__right-part-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobil__contact {
  display: none;
  @media screen and (min-width: 700px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
  }
}

.mobil__service {
  @media screen and (min-width: 700px) {
    position: relative;
    margin-left: 42px;

    &:after {
      content: '';
      position: absolute;
      left: -33px;
      bottom: 9px;
      width: 2px;
      height: 32px;
      background: $silver;
    }
  }
}

.mobil__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 16px;
  -webkit-column-gap: 16px;
  column-gap: 16px;
}
