.drop-down__icon_servise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.drop-down__item--icon {
  margin-right: 16px;
}

.drop-down__phone {
  background-image: url('../img/icon-phone.svg');
}

.drop-down__message {
  background-image: url('../img/icon-message.svg');
}

.drop-down__contact {
  background-image: url('../img/icon-contact.svg');
}

.drop-down__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.drop-down__connection_email {
  margin-bottom: 12px;
}

.drop-down__connection_phone {
  font-weight: 700;
  font-size: 24px;
}
