.main__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-left: 16px;
  margin: 0;
  overflow: auto;
  @media screen and (min-width: 900px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-left: 24px;
    margin: 0;
  }
  @media screen and (min-width: 1057px) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

nav.main__navigation {
  position: relative;
  padding: 0;
}

.main__list::-webkit-scrollbar {
  width: 8px;
}

.list__item {
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 8px 18px;
}

.list__item:hover,
.active {
  background: $white;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.item a {
  color: $dark-grey;
}
